.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;

    background-color: rgb(41, 39, 39);

    a {
        color: rgb(131, 121, 121);
        font-size: 2rem;
    }
}
